#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

PREFIX := debian/python-django-selectfilter

%:
	dh $@

override_dh_installdocs:
	dh_installdocs README
